body{
    background-color:rgb(13, 13, 54);
}

/*........................................................Header.........................................................................*/
#header{
    height: 8vh;
    width: 98vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    /*border: 1px solid white;*/
}
#logo{
    height:75px;
    width: 75px;
}
#search{
    height:5vh;
    width: 25vw;
    border: 2px solid whitesmoke;
    border-radius: 5%;
    margin-top: 2vh;
}
#Searchtext{
    margin-top: 1vh;
    margin-left: 1vw;
}
#userimage img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}


/*.....................................................................main Containt.............................................................*/


#poster{
    margin-top: 13vh;
    height: 35vh;
    width: 60vw;
    margin-left:10vw ;
    /*border: 2px solid white;*/
    display: inline-block;
    vertical-align: top;
}
#shiv{
    height: 90%;
    width:60% ;
    margin-top:2vh;
    margin-left: 20%;
    position: relative;
}
#gazal{
    margin-left: 0vw;
}
/*............................................................................release......................................................*/









/*..............................................................................aside.......................................................*/



#aside{
    height: 100vh;
    width: 20vw;
    margin-left:77vw;
    margin-top: -270vh;
    vertical-align: top;
    overflow: scroll;

    /*border: 1px solid white;*/
}
#main-div{
    height: 8%;
    width: 98%;
    /*border: 1px solid white;*/
}
#playlist{
    margin-top: 5%;
    margin-left: 5%;
}
#lata{
    margin-left: 70%;
    margin-top:15% ;
}
#no{
    margin-top: 55%;
    margin-left: 75%;
}

#footer{
    height: 20vh;
    width: 100vw;
    border: 1px solid white;
}
