.font-color{
    color: white;
}
.vns{
    height: 70%;
    width:32% ;
    margin-top:-28vh;
    margin-left: 68%;
}
.position{
    position: fixed;
}
.inlineblock{
    display: inline-block;
}
.listsong{
    margin-left: 19%;
    margin-top:6% ;
}
.listicon{
    height: 40px;
    width: 40px;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flexex{
    flex-wrap: wrap;
    justify-content: space-around;
}
.heart{
    height: 25px;
    width: 25px;
}
.hrt{
    margin-left: 0%;
    margin-top: 45%;
}
.main-release{
    height: 150px;
    width: 30%;
    /*border: 1px solid white;*/
}
.new{
    height: 70%;
    width: 50%;
    vertical-align: top;
}

.release{
    margin-top: 13vh;
    height: Auto;
    width: 60vw;
    margin-left:10vw ;
    /*border: 2px solid white;*/
    
}
.popular{
    height:140px;
    width: 140px;
    border-radius: 50%;
}
.popular1{
    height:100px;
    width: 100px;
    border-radius: 50%;
}
.type{
    height: 178px;
    width:32%;
    /*border: 1px solid white;*/
}
.typeimg{
    height: 100%;
    width: 100%;
}
.latesthindi{
    height: 100px;
    width: 100%;
}
.hindidiv{
    height: 200px;
    width: 15%;
}
.a:hover{
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255,70%);
    transition: 1000ms;
}
.b:hover{
    box-shadow: 0px 0px 5px 5px rgba(149, 7, 196, 0.7);
    transition: 1000ms;
}


/*..............................................the popular section....................................................................*/



