.font-color{
    color: white;
}
.vns{
    height: 70%;
    width:32% ;
    margin-top:-28vh;
    margin-left: 68%;
}
.position{
    position: fixed;
}
.inlineblock{
    display: inline-block;
}
.listsong{
    margin-left: 19%;
    margin-top:6% ;
}
.listicon{
    height: 40px;
    width: 40px;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.heart{
    height: 25px;
    width: 25px;
}
.hrt{
    margin-left: 0%;
    margin-top: 45%;
}
.main-release{
    height: 200px;
    width: 40%;
    border: 1px solid white;
}