.view{
    height: 98vh;
    width: 98vw;
    margin: auto;
    position: fixed;
    background-color: aqua;
}
.header{
    height: 8%;
    width: 50%;
    margin: 5% 24% 0;
    border-radius: 10px;

}
#search{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
#search button{
    cursor: pointer;
}
#input{
    height: 90%;
    width: 80%;
    background: none;
    border: none;
    font-size: 1.5rem;
    margin-left: 3%;
}
#searchbtn{
    height: 90%;
    width: 14%;
    margin-top: 0.7%;
    background: none;
    border: none;
}
#searchbtn img{
    height: 70%;
    color: black;
}
#main{
    height: auto;
    width: 50%;
    margin: 0 24%;
    margin-top: 2%;
}
#sub{
    height: 150px;
    width: 100%;
    margin: 0.15rem 0;
    display: flex;
    flex-direction: row;
}
#sub-1{
    width: 20%;
}
#sub-2{
    width: 50%;
}
#sub-3{
    width: 30%;
}
#name{
    font-size: 1rem;
    height: auto;
    width: 100%;
    margin-left: 5%;
}
#info{
    margin-top: -1rem;
    height: auto;
    width: 100%;
    margin-left: 5%;
}
#rating{
    margin-top: 5%;
    margin-left: 5%;
}
#add{
    margin-top: 40%;
    margin-left: 50%;
}