.text-center{
    text-align: center;
}
.bg-red{
    
}

.mx-auto{
    margin:auto;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.items-center{
    align-items: center;
}
.container{
    margin-top: 150px;
    display: flex;
    width: 300px;
    background-color:rgba(0,0,0,0.7);
    border-radius: 6px;

}
.xyz{
    height: 100%;
    width: 100%;
    background-size: contain;
    opacity: 70%;
    z-index: 1;
    position: fixed;
}
.p{
    position: relative;
    z-index: 5;
}