 <html>
    <head>
        <title>
            <%=title%>
        </title>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        
        <h1>
            TODO List
        </h1>
        <form action="/create-list" method="POST">
            <h5>DESCRIPTION</h5>
                    <input type="text" name="description" required placeholder="what do you need to do?">
                    <div class="divflex">
                        <p>CATEGORY</p>
                    <select name="category" required >
                        <option >choose a category</option>
                        <option >Work</option>
                        <option >Personal</option>
                        <option >Clean</option>
                        <option >other</option>
                    </select>
                    <label for="duedate">Due Date</label>
                    <input type="date" id="duedate" name="date" required>
                    
                    <div id="deleteadd" class="divflex textdeco">
                        <button>
                            <a href=""><div id="adddiv"><h1>+ add Task</h1></div></a>
                        </button>
                        <button><a href=""><div id="deletediv"><img id="deleteimg"  src="/images/delete.png" >
                            <span>Delete Task</span></div></a></button>
                    </div>



                    </div>
        </form>
        <div>
            <ul>
                <%for(let i of todo_Lists){%>
                    <li>
                        <p><%=i.description%></p>
                        <p><%=i.category%></p>
                        <p><%=i.date%></p>



                    </li>
                    
                    
                    <%}%>
            </ul>
        </div>
        <script type="text/javascript" src="/js/home.js"></script>
    </body>
 </html>